.post{
    background: var(--gray-800); 
    border-radius: 8px; /*Utilizando em uma pequena parte que não vai alterar a tela inteira ou fazer grandes diferenças a página dependendo do monitor*/
    padding: 2.5rem; /*40px*/
}

/* Comentário: Ctrl + K + Ctrl + C seguidos para criar uma aba de comentários como está*/


.post +  .post {  
    /* Todo o post que contém outro post antes dele, evitando colocar estilização em páginas com apenas um post ou sem nenhum post antes*/
   margin-top: 2rem; /* 32px */
}


.content { 
    line-height: 1.6; 
    color: var(--gray-300); 
    margin-top: 1.5rem; /* 24px = 16px + 8px 
    0,5 = 8px*/
}

.content p { 
    margin-top: 1rem; /* 16px */
}

.content a {
   font-weight: bold; 
   color: var(--green-500); 
   text-decoration: none; 
}

.content a:hover { 
    color: var(--green-300);
}

.post > header {
  /* Só o header no primeiro nivel/vem primeiro e só o que está no post, para evitar confundir com o outro header. É possivel também criar um nome próprio também */
   display: flex; 
   align-items: center;
   justify-content: space-between;
}



.post > header time {
    font-size: 0.875rem; /* 14px */
    color: var(--gray-400); 
}

.author {
    display: flex; 
    align-items: center;
    gap: 1rem; /* 16px */
}

.authorInfo{
    display: flex; 
    flex-direction: column; 
}

.authorInfo strong { 
    color: var(--gray-100); 
    line-height: 1.6;
}

.authorInfo span { 
    font-size: 0.875rem; 
    color: var(--gray-400);
    line-height: 1.6;
}

.commentForm{
    width: 100%; 
    margin-top: 1.5rem; /* 24px */
    padding-top: 1.5rem; /* 24px */
    border-top: 1px solid var(--gray-600); 
}

.commentForm > strong{
  line-height: 1.6;
  color: var(--gray-100); 
}

.commentForm textarea { 
    width: 100%;
    background: var(--gray-900); 
    border: 0; 
    resize: none; 
    height: 6rem; /* 96px */
    padding: 1rem; /* 16px */
    border-radius: 8px; 
    color: var(--gray-100); 
    line-height: 1.4;
    margin-top: 1rem; 
}

.commentForm footer { 
    /* O button não aparecer e nem ocupar espaço no post */
   visibility: hidden;
   max-height: 0;
}

.commentForm:focus-within footer { 
     /* Aparecer o botão só quando a textarea tiver selecionada */
    visibility: visible;
    max-height: none;
}


.commentForm button[type = submit] { 
   padding: 1rem 1.5rem; 
   margin-top: 1rem; 
   border-radius: 8px; 
   border: 0; 
   background: var(--green-500); 
   color: var(--white); 
   font-weight: bold;
   cursor: point;

   transition: background-color 0.1s;

  
}

.commentForm button[type = submit]:not(:disabled):hover { 
    background: var(--green-300);
}

.commentForm button[type = submit]:disabled {
    opacity: 0.7;
    cursor:not-allowed; 
}

.commentList { 
    margin-top: 2rem;
}





